body {
    margin: 0;
    padding: 0;
}

.container{
    animation: morph 3s infinite;
}
.avatar{
    width:200px;
    height: 200px;
    margin: 2rem;
    border-radius: 50%;
    transition: transform 1s ;
}
.avatar:hover{
    transform: rotate(1080deg) scale(2);
}


@keyframes morph {
    0% {
        background-color: red;
    }

    20% {
        background-color: green;
    }

    40% {
        background-color: orange;
    }

    60% {
        background-color: yellow;
    }

    80% {
        background-color: white;
    }

    100% {
        background-color: rgb(55, 0, 255);
    }
}





